@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.input {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #eadcc5;
  padding: 0.85rem 1rem;
  font-size: 0.9rem;
  outline: none;
  background: #fffaf2;
}

.input:focus {
  border-color: #2a1608;
}